.swal2-close:focus {
	box-shadow: none !important;
}

.swal2-popup._error {
	background: red !important;
	border-radius: 0;
}

.swal2-popup._success {
	background: green !important;
	border-radius: 0;
}

.swal2-toast .swal2-html-container._error {
	color: white;
	font-weight: 600;
}

.swal2-toast .swal2-html-container._success {
	color: white;
	font-weight: 600;
}